body {
  font-family: Courier, monospace;
  font-size: 16px;
}

button {
  margin: 32px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #0080ff;
  border-radius: 4px;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quiz {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-cards {
  margin-bottom: 24px;
}

.quiz-card {
  background-color: #444444;
  font-size: 16px;
  color: white;
  width: 200px;
  height: 170px;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.result-score {
  margin-bottom: 24px;
}

.result-retry {
  align-self: "flex-start";
}

/* Utils */

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.weight600 {
  font-weight: 600;
}

.green {
  color: green;
}

.red {
  color: red;
}
